@model AsteroidDodge.Models.Store.StoreModel

@{
    ViewData["Title"] = "Index";
}
<head>
    <title>Store.</title>
    <meta name="author" content="Samuel Bridge">
    <meta name="description" content="Asteroid Dodge">
    <meta name="keywords" content="HTML,CSS">
    <link rel="stylesheet" href="~/css/store.css" />
</head>

<h1 class="text-white">Store</h1>
<hr />
<h2 class="text-white">Ships</h2>
<div class="card-group">
    @foreach (var ship in Model.StoreShips)
    {
        <!-- Check to see if this is our first ship -->
        bool isCurrentShip = Model.User.CurrentShipId == ship.ShipSkin.ShipSkinId;

        <!-- Set's row to selectable if the ship is purchased -->
        <div class="m-1 card text-white bg-dark @(ship.IsPurchased? "skin-select " : " ") @( isCurrentShip? "active" : "")" onclick="shipChange('@ship.ShipSkin.SkinName', $(this))">
            <img class="card-img-top" src="@ship.ShipSkin.SkinImgLocation" alt="@ship.ShipSkin.SkinName" />
            <div class="card-body">
                <h6 class="card-title">@ship.ShipSkin.SkinName</h6>
                @if (ship.IsPurchased)
                {
                    <div class="font-italic text-white-50">
                        Purchased
                    </div>
                }
                else
                {
                    <div class="">
                        <label>@ship.ShipSkin.SkinCost <img src="~/images/crystal.png" width="20" height="20" id="comet" class="d-inline-block" alt=""></label> <br />
                        <input type="button" class="btn btn-outline-success my-2 my-sm-0" onclick="purchaseShip('@ship.ShipSkin.SkinName')" value="Purchase">
                    </div>
                }
                <dv class="selected-text" style="@(isCurrentShip ? "" : "display:none;")">
                    Selected
                </dv>
            </div>
        </div>
    }
</div>

<hr />
<h2 class="text-white">Galaxies</h2>
<div class="card-group">

    @foreach (var background in Model.StoreBackgrounds)
    {
        <!-- Check to see if this is our first ship -->
        bool isCurrentBackground = Model.User.CurrentBackgrounId == background.BackgroundSkin.BackgroundSkinId;

        <!-- Set's row to selectable if the ship is purchased -->
        <div class="m-1 card text-white bg-dark @(background.IsPurchased? "skin-select " : " ") @( isCurrentBackground? "active" : "")" onclick="backgroundChange('@background.BackgroundSkin.SkinName', $(this))">
            <img class="galaxy card-img-top" src="@background.BackgroundSkin.SkinImgLocation" alt="@background.BackgroundSkin.SkinName" />
            <div class="card-body">
                <h6 class="card-title">@background.BackgroundSkin.SkinName</h6>
                @if (background.IsPurchased)
                {
                    <div class="font-italic text-white-50">
                        Purchased
                    </div>
                }
                else
                {
                    <div class="">
                        <label>@background.BackgroundSkin.SkinCost <img src="~/images/crystal.png" width="20" height="20" id="comet" class="d-inline-block" alt=""></label> <br />
                        <input type="button" class="btn btn-outline-success my-2 my-sm-0" onclick="purchaseBackground('@background.BackgroundSkin.SkinName')" value="Purchase">
                    </div>
                }
                <dv class="selected-text" style="@(isCurrentBackground ? "" : "display:none;")">
                    Selected
                </dv>
            </div>
        </div>

    }
</div>

@section Scripts {
    <script src="~/js/store.js"></script>
}



