@model AsteroidDodge.Models.Store.StoreModel

@{
    ViewData["Title"] = "Index";
}
<head>
    <title>Store.</title>
    <meta name="author" content="Samuel Bridge">
    <meta name="description" content="Asteroid Dodge">
    <meta name="keywords" content="HTML,CSS">
    <link rel="stylesheet" href="~/css/store.css" />
</head>

<h1 class="text-white">Store</h1>
<hr />
<h2 class="text-white">Ships</h2>
<div class="card-group">
    @foreach (var ship in Model.StoreShips)
    {
        <div class="card text-white bg-dark">
            <img class="card-img-top" src="@ship.ShipSkin.SkinImgLocation" alt="@ship.ShipSkin.SkinName" />
            <div class="card-body">
                <h6 class="card-title">@ship.ShipSkin.SkinName</h6>
                @if (ship.IsPurchased)
                {
                    <div class="custom-control custom-switch">
                        <input type="checkbox" onclick="shipChange('@ship.ShipSkin.SkinName')" class="custom-control-input" id="@ship.ShipSkin.ShipSkinId">
                        <label class="custom-control-label" for="@ship.ShipSkin.ShipSkinId"></label>
                    </div>
                }
                else
                {
                    <div class="">
                        <label>@ship.ShipSkin.SkinCost <img src="~/images/crystal.png" width="20" height="20" id="comet" class="d-inline-block" alt=""></label> <br />
                        <input type="button" class="btn btn-outline-success my-2 my-sm-0" onclick="purchaseShip('@ship.ShipSkin.SkinName')" value="Purchase">
                    </div>
                }
            </div>
        </div>
    }
</div>

<hr />
<h2 class="text-white">Galaxies</h2>
<div class="card-group">

    @foreach (var background in Model.StoreBackgrounds)
    {
        <div class="card text-white bg-dark">
            <img class="galaxy card-img-top" src="@background.BackgroundSkin.SkinImgLocation" alt="@background.BackgroundSkin.SkinName" />
            <div class="card-body">
                <h6 class="card-title">@background.BackgroundSkin.SkinName</h6>
                @if (background.IsPurchased)
                {
                    <div class="custom-control custom-switch">
                        <input type="checkbox" onclick="backgroundChange('@background.BackgroundSkin.SkinName')" class="custom-control-input" id="@background.BackgroundSkin.SkinName">
                        <label class="custom-control-label" for="@background.BackgroundSkin.SkinName"></label>
                    </div>
                }
                else
                {
                    <div class="">
                        <label>@background.BackgroundSkin.SkinCost <img src="~/images/crystal.png" width="20" height="20" id="comet" class="d-inline-block" alt=""></label> <br />
                        <input type="button" class="btn btn-outline-success my-2 my-sm-0" onclick="purchaseBackground('@background.BackgroundSkin.SkinName')" value="Purchase">
                    </div>
                }
            </div>
        </div>

    }
</div>

@section Scripts {
    <script src="~/js/store.js"></script>
}


