@model AsteroidDodge.Models.Store.StoreModel

@{
    ViewData["Title"] = "Index";
}
<head>
    <title>Store.</title>
    <meta name="author" content="Samuel Bridge">
    <meta name="description" content="Asteroid Dodge">
    <meta name="keywords" content="HTML,CSS">
    <link rel="stylesheet"  href="~/css/store.css"/>
</head>

<h1>Store</h1>

<table id="skin-table1" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Skins
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ship in Model.StoreShips)
        {
        <tr class="@(ship.IsPurchased ? "skin-select" : "")">
            <td>
                <div class="ship-container">
                    <img src="@ship.ShipSkin.SkinImgLocation" alt="@ship.ShipSkin.SkinName" />
                </div>

                @if (ship.IsPurchased)
                {
                    <div class="custom-control custom-switch">
                        <input type="checkbox" onclick="shipChange('@ship.ShipSkin.SkinName')" class="custom-control-input" id="@ship.ShipSkin.ShipSkinId">
                        <label class="custom-control-label" for="@ship.ShipSkin.ShipSkinId"></label>
                    </div>
                }
                else
                {
                    <div class="">
                        <label>@ship.ShipSkin.SkinCost Crystals</label>
                        <input type ="button" class="btn btn-outline-success my-2 my-sm-0" onclick="purchaseShip('@ship.ShipSkin.SkinName')" value="Purchase">
                    </div>
                }
            </td>
        </tr>
        }
    </tbody>
</table>

<table  id="skin-table2" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Maps
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var background in Model.StoreBackgrounds)
    {
        <tr class="@(background.IsPurchased ? "skin-select" : "")">
            <td>
                <div class="background-container">
                    <img class="galaxy" src="@background.BackgroundSkin.SkinImgLocation" alt="@background.BackgroundSkin.SkinName" />
                </div>

                @if (background.IsPurchased)
                {
                    <div class="custom-control custom-switch">
                        <input type="checkbox" onclick="backgroundChange('@background.BackgroundSkin.SkinName')" class="custom-control-input" id="@background.BackgroundSkin.SkinName">
                        <label class="custom-control-label" for="@background.BackgroundSkin.SkinName"></label>
                    </div>
                }
                else
                {
                    <div class="">
                        <label>@background.BackgroundSkin.SkinCost Crystals</label>
                        <input type ="button" class="btn btn-outline-success my-2 my-sm-0" onclick="purchaseBackground('@background.BackgroundSkin.SkinName')" value="Purchase">
                    </div>
                }
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts {
    <script src="~/js/store.js">
    </script>
}


