@model AsteroidDodge.Models.Store.StoreModel

@{
    ViewData["Title"] = "Index";
}
<head>
    <title>Store.</title>
    <meta name="author" content="Samuel Bridge">
    <meta name="description" content="Asteroid Dodge">
    <meta name="keywords" content="HTML,CSS">
    <link rel="stylesheet"  href="~/css/store.css"/>
</head>

<h1>Store</h1>

<table id="skin-table" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Skins
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ship in Model.StoreShips)
        {
        <tr class="@(ship.IsPurchased ? "skin-select" : "")">
            <td>
                <div class="ship-container" id="container">
                    <img src="@ship.ShipSkin.SkinImgLocation" alt="@ship.ShipSkin.SkinName" />
                </div>

                @if (ship.IsPurchased)
                {
                    <div class="custom-control custom-switch">
                        <input type="checkbox" onclick="shipChange('@ship.ShipSkin.SkinName')" class="custom-control-input" id="@ship.ShipSkin.ShipSkinId">
                        <label class="custom-control-label" for="@ship.ShipSkin.ShipSkinId"></label>
                    </div>
                }
                else
                {
                    <div class="">
                        <label>@ship.ShipSkin.SkinCost Crystals</label>
                        <input type ="button" class="btn btn-outline-success my-2 my-sm-0" onclick="purchaseShip('@ship.ShipSkin.SkinName')" value="Purchase">
                    </div>
                }
            </td>
        </tr>
        }
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>
                Maps
            </th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>
                    <div id="container2">
                        <img src="~/images/game_background.jpg" alt="" />
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="">
                        <label class="custom-control-label" for=""></label>
                    </div>
                </td>
                <td>
                    <div id="container2">
                        <img src="~/images/game_background.jpg" alt="" />
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="">
                        <label class="custom-control-label" for=""></label>
                    </div>
                </td>
                <td>
                    <div id="container2">
                        <img src="~/images/game_background.jpg" alt="" />
                    </div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="">
                        <label class="custom-control-label" for=""></label>
                    </div>
                </td>
            </tr>
    </tbody>
</table>

@section Scripts {
    <script src="~/js/store.js"></script>
}


